@font-face {
  font-family: 'Socialico';
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"),
    url("fonts/Socialico/Socialico.woff2") format("woff2"),
    url("fonts/Socialico/Socialico.woff") format("woff"),
    url("fonts/Socialico/Socialico.ttf") format("truetype"),
    url("fonts/Socialico/Socialico.svg") format("svg");
}

@font-face {
  font-family: "socialico-plus";
  src: url("fonts/SocialicoPlus/socialico-plus.eot");
  src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"),
    url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"),
    url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"),
    url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"),
    url("fonts/SocialicoPlus/socialico-plus.svg") format("svg");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open San', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/

.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Cinzel';
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  padding: 15px 0;
}

p,
ul,
nav ul li a,
.remarks {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: .5px;
}

.title-page {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  letter-spacing: 7px;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 16.5px 0;
  width: 200px;
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 400;
  background: #8D181B;
  color: #FFF;
  line-height: 1.2;
  -webkit-appearance: inherit;
  border-radius: 13px;
  letter-spacing: 1.6px;
}

.btn2 {
  background: #FB2E2B;
}

.btn:hover {
  transition: background-color .8s ease-out;
  -o-transition: background-color .8s ease-out;
  -moz-transition: background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;
  color: #fff;
  background: #000;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*SOCIAL*/
.socials a {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link {
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"] {
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"] {
  color: #D54936;
}

.socials a[href="https://linkedin.com"] {
  color: #117BB8;
}

.socials a[href="https://twitter.com"] {
  color: #25A8E0;
}

.socials a[href="https://instagram.com"] {
  color: #2F689B;
}


/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {}

#header .content {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#header .left {
  gap: 50px;
}

#header .h-logo img {
  max-width: 80px;
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
}

#header nav ul {
  gap: 41px;
  display: inline-flex;
  margin: auto;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-size: 16px;
  font-family: 'Poppins';
  color: #444444;
  font-weight: 500;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {
  font-weight: 700;
  color: #FB2E2B
}

#header .contact-info {
  align-items: center;
  display: flex;
  text-align: start;
  gap: 20px;
}

#header .phone-holder,
#header .email-holder {}

#header a {
  display: flex;
}

#header .info {
  margin-left: 10px;
}

#header .icon img {
  width: 34px;
  height: auto;
}

#header .info .label {
  font-size: 14px;
  font-family: rubik;
  color: #E53B38;
}

#header .info .phone,
#header .info .email {
  font-size: 20px;
  color: #333333;
  font-family: 'Montserrat';
  font-weight: 700;
}

/*-----------------------------------------------BANNER-----------------------------------------------*/
/* #banner {
  background: url('../images/content/banner.png')no-repeat right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
} */
#banner {
  position: relative;
  background: #222222;
}

#banner .img-holder {
  position: relative;
}

#banner .content-holder {
  position: absolute;
  display: block;
  width: 100%;
  top: 29%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#banner .row {
  text-align: left;
  color: #fff;
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.8);
}

#banner .foreword {
  font-family: 'Open Sans';
  font-size: 18px
}

#banner .title-like {
  font-family: 'Cinzel';
  font-size: 45px;
  font-weight: 500;
  width: 662px;
  margin-top: 10px;
}

#banner .title-w {
  font-weight: 600;
}


/*-----------------------------------------------CONTENT-----------------------------------------------*/

/* youtube vid */
#yt-vid {
  position: relative;
  margin-top: -264px;
}

#vid-content {
  width: 100%;
}

#yt-vid iframe {
  border: 10px solid #fff;
  border-radius: 34px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

/* about */
#about {
  text-align: center;
  margin-top: 122px;
}

#about hr.custom-line {
  width: 130px;
  height: 10px;
  background-color: #FB2E2B;
  border: none;
  border-radius: 20px;
  margin-bottom: 50px;
}

#about .abt-content p {
  margin: 0 60px 60px;
  font-size: 18px;
  line-height: 1.8;
}

#about .btn-holder {
  width: 438px;
  margin: auto;
}

#about .img-holder {
  margin-top: -198px;
  width: 100%;
}


/*SERVICES*/
#services {
  background: url('../images/content/service-bg-img.png')no-repeat right top;
  /* -webkit-background-size: cover;
  background-size: cover; */
  position: relative;
  color: #fff;
  max-width: 100%;
  height: auto;
}

#services .content {
  padding: 90px 180px;
}

#services .serv-content {
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

#services .serv-con {
  padding: 77px;
}

#services .box {
  display: flex;
}

#services .box:not(:first-child)::before {
  content: "|";
  display: inline-block;
  font-size: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 213px;
  color: #DDDDDD;
  font-weight: 100;
  font-family: serif;
}


#services .img-holder img {
  border-radius: 12px;
  width: 100%;
  max-width: 378px;
}

#services .content p {
  line-height: 1.7;
}

/* 
#services .custom-line {
  height: 50px;
  background-color: #FB2E2B;
  border-radius: 20px;
} */

#services .serv-content .serv-title {
  font-family: 'Cinzel';
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}


/* testimonials */


#testimonials .tes-content {
  width: 100%;
  max-width: 746px;
  text-align: start;
  transform: translate(18%, 25%);
  margin: 0;
}

#testimonials h1 {
  padding-bottom: 10px;
}

#testimonials .title-page {
  letter-spacing: 0;
  text-align: start;
  margin-bottom: 40px;
}

#testimonials .star {
  color: #e5e241;
  font-size: 23px;
  margin-bottom: 10px;
}

#testimonials .auth {
  color: #000;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
}

#testimonials .btn {
  margin: 50px 0;
}

#testimonials .img-holder {
  margin-top: -198px;
  width: 100%;
}



/* vision */
#vision {
  background: url('../images/content/vision-bg-img.png')no-repeat right top;
  /* -webkit-background-size: cover;
  background-size: cover; */
  position: relative;
  color: #fff;
  max-width: 100%;
  height: auto;
}

#vision .content {
  padding: 90px 180px;
}

#vision .content p {
  margin-top: 20px;
}

#vision .img-holder img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

#vision .box-holder {
  width: 227px;
  height: auto;
  position: absolute;
  transform: translate(-37%, -120%);
}

#vision .box {
  width: 106px;
  height: 107px;
}

#vision .box1 {
  background: #8D181B;
}

#vision .box2 {
  background: #FB2E2B;
}

#vision .btn-holder {
  width: 438px;
  margin: auto;
  margin-top: -33px;
}


/*gallery*/

#gallery {
  position: relative;
}

#gallery .row {
  padding-top: 101px;
}

#gallery .gal-content {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 44px 0;
}

#gallery .gallery-container {
  display: flex;
}

#gallery .gallery-container .right {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  max-width: 745px;
}


#gallery .left img {
  max-width: 763px;
}

#gallery .btn-holder {
  position: absolute;
}

#gallery .btn-holder .btn2 {
  padding: 27px 0;
  width: 168px;
  letter-spacing: 1.6px;
  font-weight: 600;
  background: rgba(255, 0, 0, 0.5);
}

/*testimonials*/
#testimonials {
  background: url('../images/common/testimonials.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
}

#testimonials p.auth {}

#testimonials .stars {
  color: #FFFF00;
}


/*CONTACT*/
#contact {
  position: relative;
}

#contact .ctc-form label {
  width: 32%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #A8A8A8;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px;
  resize: none;
  background: #EEEEEE;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form button {
  display: block;
  border: none;
  margin: 20px auto 0
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/footer-bg.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Poppins';
}

#footer .left {
  text-align: left;
}

#footer .left .contact-info .flex {
  justify-content: space-between;
    gap: 53px;
}

#footer .left .img-holder img {
  max-width: 433px;
}

#footer .left .contact-info .content {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

#footer .left .text-left {
  margin-left: 20px;
}

#footer .left .contact-info .phone a {
  font-size: 30px;
  font-weight: 700;
}

#footer .left .contact-info img {
  width: 100%;
  max-width: 56px;
}

#footer .contact {
  width: 100%;
  max-width: 706px;
  text-align: left;
}

#footer h1 {
  font-weight: 400;
}

#footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}








/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/
@media screen and (max-width: 1440px) {}


/*1200*/
@media screen and (max-width: 1439px) {}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }
}

/*1024*/
@media screen and (max-width: 1199px) {}

/*960*/
@media screen and (max-width: 1023px) {}

/*768*/
@media screen and (max-width: 959px) {

  #header .row {
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
  }

  #header nav {}

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }




}


/*425*/
@media screen and (max-width: 767px) {}


/*375*/
@media screen and (max-width: 424px) {}

/*320*/
@media screen and (max-width: 374px) {}