@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Open San', sans-serif;
  position: relative;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

div,
article,
section,
dl,
dt,
dd,
table,
tr,
td,
ul,
ol,
li,
p,
span,
small,
em,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  padding: 0;
  margin: 0;
}

.row {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important;
}

/*call to action*/

.cta {
  display: none;
}

/*typography*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  font-family: 'Cinzel';
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  padding: 15px 0;
}

p,
ul,
nav ul li a {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.title-page {
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  letter-spacing: 7px;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  z-index: 999;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 16.5px 0;
  width: 200px;
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 400;
  background: #8D181B;
  color: #FFF;
  line-height: 1.2;
  -webkit-appearance: inherit;
  border-radius: 13px;
  letter-spacing: 1.6px;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.btn2 {
  background: #FB2E2B;
}

.btn:hover {
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #fff;
  background: #000;
}

/*FLEX*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*SOCIAL*/
.socials a {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Socialico';
  letter-spacing: 11px;
  padding: 0 20px;
  color: #fff
}

.socials a.ig_link {
  font-family: 'socialico-plus';
}

.socials a[href="https://facebook.com"] {
  color: #3B5A9A;
}

.socials a[href="https://plus.google.com"] {
  color: #D54936;
}

.socials a[href="https://linkedin.com"] {
  color: #117BB8;
}

.socials a[href="https://twitter.com"] {
  color: #25A8E0;
}

.socials a[href="https://instagram.com"] {
  color: #2F689B;
}

.to-db {
  display: block;
}

@media (max-width: 959px) {
  .to-db {
    display: inline;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*-----------------------------------------------HEADER-----------------------------------------------*/
#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

#header .content {
  background: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#header .h-logo img {
  max-width: 80px;
}

#header .h-content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(100% - 152px);
}

#header nav a#pull {
  display: none
}

#header nav {
  position: relative;
  z-index: 999;
}

#header nav ul {
  gap: 41px;
  display: inline-flex;
  margin: auto;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  font-size: 16px;
  font-family: 'Poppins';
  color: #444444;
  font-weight: 500;
}

#header nav ul li.active-menu a,
#header nav ul li a:hover {
  font-weight: 700;
  color: #FB2E2B
}

#header .contact-info {
  align-items: center;
  display: flex;
  text-align: start;
  gap: 20px;
}

#header .phone-holder,
#header .email-holder {}

#header a {
  display: flex;
}

#header .info {
  margin-left: 15px;
}

#header .icon img {
  width: 34px;
  height: auto;
}

#header .contact-info .icon {
  margin: auto;
}

#header .info .label {
  font-size: 14px;
  font-family: 'Rubik';
  color: #E53B38;
}

#header .info .phone,
#header .info .email {
  font-size: 20px;
  color: #333333;
  font-family: 'Montserrat';
  font-weight: 700;
}

@media screen and (max-width: 959px) {

  #header {
    position: unset;
  }

  #header .row {
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
  }

  #header .content {
    flex-direction: column-reverse;
    display: flex;
    width: 100%;
    max-width: 100%;
    position: unset !important;
    transform: none;
  }

  #header .row .left .h-logo {
    display: block;
  }

  #header .h-logo img {
    max-width: 259px;
    margin: 26px 0;
  }

  #header .h-content {
    display: block;
    width: 100%;
    max-width: 100%;
    padding-top: 60px;
  }

  #header .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99999;
  }

  #header nav ul {
    width: 100%;
    display: none;
    height: auto;
    border-bottom: 5px solid #000;
    padding: 0 15px;
    background: rgba(255, 255, 255, .9);
  }

  #header nav ul li {
    width: 100%;
    position: relative;
  }

  #header nav ul li a {
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  #header nav a strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  #header nav a#pull {
    display: block;
    color: #fff;
    background-color: #000;
    height: 60px;
    padding: 10px 0;
    width: 100%;
    position: relative;
  }

  #header nav a#pull:after {
    content: "";
    background: url('../images/nav-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  #header .contact-info {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 27px;
  }

}

/*-----------------------------------------------BANNER-----------------------------------------------*/
/* #banner {
  background: url('../images/content/banner.png')no-repeat right;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
} */
#banner {
  position: relative;
  background: #222222;
}

#banner .img-holder {
  position: relative;
}

#banner .content-holder {
  position: absolute;
  display: block;
  width: 100%;
  top: 14%;
  left: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}


#banner .row {
  text-align: left;
  color: #fff;
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.8);
}

#banner .foreword {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
}

#banner .title-like {
  font-family: 'Cinzel', serif;
  font-size: 45px;
  font-weight: 400;
  width: 100%;
  max-width: 662px;
  margin-top: 10px;
}

#banner .title-w {
  font-weight: 600;
}

.cssanimation {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom
}


@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}


@media screen and (max-width: 959px) {


  #banner .title-like {
    font-size: 38px;
  }

  #banner .foreword {
    font-size: 15px;
  }


}



/*-----------------------------------------------CONTENT-----------------------------------------------*/

/* youtube vid */
#yt-vid {
  position: relative;
  margin-top: -264px;
}

#vid-content {
  width: 100%;
}

#yt-vid iframe {
  border: 10px solid #fff;
  border-radius: 34px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 738px;
}

@media screen and (max-width: 959px) {


  #yt-vid {
    margin-top: -60px;
    position: relative;
  }

  #yt-vid .row {
    padding: 0 10px;
  }

}


/* about */
#about {
  text-align: center;
  margin-top: 122px;
}

#about .row {
  padding-bottom: 64px;
}

#about hr.custom-line {
  width: 130px;
  height: 10px;
  background-color: #FB2E2B;
  border: none;
  border-radius: 20px;
  margin-bottom: 50px;
}

#about .abt-content p {
  font-size: 18px;
  line-height: 2;
  width: 100%;
  max-width: 1319px;
  margin: 0 auto 60px;
}

#about .btn-holder {
  width: 100%;
  max-width: 438px;
  margin: auto;
}

#about .img-holder {
  /* margin-top: -198px;
  width: 100%; */
  background: url('../images/content/about-img.png');
  min-height: 500px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}


@media screen and (max-width: 959px) {

  #about {
    margin-top: 40px;
  }

  #about .btn-holder {
    display: flex;
  }

  #about .btn-holder .btn {
    margin-top: 10px;
  }

  #about .abt-content p {
    font-size: 14px;
    margin: 0 auto 35px;
  }


}


/*SERVICES*/
#services .container {
  background: url('../images/content/service-bg-img.png')no-repeat right top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 774px;
}

#services .content {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
}

#services .serv-contain {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 35.5%;
  left: 50%;
  transform: translateX(-50%);
}

#services .serv-content {
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

#services .serv-con {
  padding: 68px;
}

#services .serv-con p {
  font-family: 'Poppins';
  width: 100%;
  max-width: 342px;
  margin: auto;
}

#services .box {
  display: flex;
}

#services .box:not(:first-child)::before {
  content: "";
  display: block;
  background: #ddd;
  width: 3px;
  height: 130px;
  top: 169px;
  left: 0;
  position: relative;
}


#services .img-holder img {
  border-radius: 12px;
  width: 100%;
  max-width: 378px;
  margin: auto;
}

#services .content p {
  line-height: 1.7;
}


#services .serv-content .serv-title {
  font-family: 'Cinzel';
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0;
}


@media screen and (max-width: 959px) {


  #services .serv-content,
  #services .box {
    display: block;
  }

  #services .serv-con {
    padding: 28px;
  }

  /* #services .content {
    padding: 44px;
  } */

  #services .box:not(:first-child)::before {
    display: none;
  }

  #services .serv-content .serv-title {
    font-size: 25px;
  }

  #services .serv-con p {
    max-width: 100%;
  }
}


/*testimonials*/

#testimonials .tes-content {
  width: 100%;
  max-width: 746px;
  text-align: start;
  transform: translate(-50%, 50%);
  padding-top: 55px;
}

#testimonials h1 {
  padding-bottom: 10px;
}

#testimonials .title-page {
  letter-spacing: 0;
  text-align: start;
  margin-bottom: 40px;
}

#testimonials .star {
  color: #e5e241;
  font-size: 23px;
  margin-bottom: 10px;
}

#testimonials .auth {
  color: #000;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 700;
}

#testimonials .remarks {
  line-height: 2;
}

#testimonials .btn {
  margin: 50px 0;
}

#testimonials .img-holder {
  margin-top: -136px;
  width: 100%;
}

@media screen and (max-width: 959px) {}

/* vision */
#vision .container {
  background: url(../images/content/vision-bg-img.png)no-repeat right top;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  padding-bottom: 22px;
  min-height: 768px;
}

#vision .content {
  padding-top: 66px;
  padding-bottom: 66px;
}

#vision .content p {
  margin-top: 20px;
}

#vision .vision-con {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 63%;
  left: 50%;
  transform: translate(-50%, 0);
}

#vision .img-holder img {
  width: 100%;
  max-width: 1518px;
  border-radius: 30px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

#vision .box-holder {
  width: 227px;
  height: auto;
  position: absolute;
  transform: translate(-17%, -120%);
}

#vision .box {
  width: 106px;
  height: 107px;
}

#vision .box1 {
  background: #8D181B;
}

#vision .box2 {
  background: #FB2E2B;
}

#vision .btn-holder {
  width: 100%;
  max-width: 438px;
  margin: auto;
  margin-top: -33px;
}

@media screen and (max-width: 959px) {

  #vision .content {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  #vision .box-holder {
    width: 153px;
    transform: translate(-15%, -120%);
  }

  #vision .btn-holder {
    display: flex;
  }

  #vision .btn-holder .btn {
    margin-top: 10px;
  }

}


/*gallery*/

#gallery {
  position: relative;
  margin-top: 297px;
}

#gallery .row {
  padding-top: 101px;
}

#gallery .gal-content {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 44px 0;
}

#gallery .gallery-container {
  display: flex;
}

#gallery .gallery-container .right {
  /* display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  max-width: 773px; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

#gallery .left #img1 {
  height: 100%;
}

#gallery .left img {
  max-width: 763px;
  height: 100%;
  object-fit: cover;
}


#gallery .right #img3 img,
#gallery .right #img5 img {
  height: 100%;
  object-fit: cover;
}

#gallery .right #img5 {
  margin-top: 15px;
}

#gallery .btn-holder {
  position: absolute;
}

#gallery .btn-holder .btn2 {
  padding: 27px 0;
  width: 168px;
  letter-spacing: 1.6px;
  font-weight: 600;
  background: rgba(255, 0, 0, 0.5);
}

#gallery .bg-img {
  background: url('../images/content/gallery-bg.png');
  min-height: 500px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}


@media screen and (max-width: 959px) {

  #gallery {
    margin-top: 0;
  }

  #gallery .row {
    padding-top: 49px;
  }

  #gallery .gal-content {
    margin: 19px 0;
  }

  #content .gallery-container {
    /* display: block; */
  }

  #content .gallery-container .left {
    margin-bottom: 13px;
  }

  #gallery .gallery-container .right {
    justify-content: center;
  }

}



/*CONTACT*/
#contact {
  position: relative;
}

#contact .ctc-form label {
  width: 32%
}

form .messages p {
  display: none;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #444444;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #A8A8A8;
  padding: 0 26px;
  box-sizing: border-box;
  margin: 0 auto 22px;
  resize: none;
  background: #EEEEEE;
  border-radius: 5px;
}

.ctc-form ::placeholder,
.ctc-form label {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.8;
  letter-spacing: .03px;
  text-align: left;
}

.ctc-form ::placeholder {
  color: #545454
}

.ctc-form textarea {
  height: 150px;
  padding-top: 10px;
}

.ctc-form button {
  margin: 36px 0 0;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
#footer {
  background: url('../images/content/footer-bg.jpg')no-repeat top;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Poppins';
}

#footer .row {
  padding: 92px 0;
}

#footer .left {
  text-align: left;
}

#footer .left .contact-info .flex {
  justify-content: space-between;
  gap: 53px;
}

#footer .left .img-holder {
  margin-bottom: 54px;
}

#footer .left .img-holder img {
  max-width: 433px;
}

#footer .left .contact-info .content {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

#footer .left .text-left {
  margin-left: 20px;
}

#footer .left .contact-info {
  padding-bottom: 44px;
}

#footer .left .contact-info .phone a {
  font-size: 30px;
  font-weight: 700;
}

#footer .left .contact-info img {
  width: 100%;
  max-width: 56px;
}

#footer .contact {
  width: 100%;
  max-width: 710px;
  text-align: left;
}

#footer h1 {
  font-weight: 400;
  padding: 0;
}

#footer .contact p {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  margin-bottom: 24px;
}

#footer .copyrights p {
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 959px) {

  #footer .row {
    padding: 66px 0;
    /* flex-direction: column-reverse; */
  }

  #footer .left {
    /* text-align: center; */
    margin: 33px auto;
  }

  #footer .left .img-holder img {
    max-width: 336px;
  }

  #footer .left .contact-info .flex {
    display: block;
  }

  #footer .contact {
    text-align: center;
    padding: 0 37px;
    margin: auto;
  }

  .ctc-form button {
    margin: 36px auto;
  }


}






/*---------------------------------------inner pages-------------------------------------------*/
.inner #content {
  min-height: 400px;
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto
}

.inner #content h1 {
  padding-bottom: 20px;
}


/*inner gallery*/
.img-responsive {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

#content .gallery-container {
  text-align: center;
  gap: 15px;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .gallery li {
  display: inline-block;
}

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
  transform: scale(1.02);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

.inner #content .gallery-container {
  margin-bottom: 20px
}




/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}



/*RESPONSIVE*/


@media screen and (max-width: 1440px) {
  #header .content {
    margin: 0;
    border-radius: 0;
    position: relative;
  }

  #services .container {
    min-height: 0;
  }

  #services .serv-contain {
    position: relative;
  }


  #testimonials .tes-content {
    position: relative;
    max-width: 100%;
    text-align: center;
    transform: none;
  }

  #testimonials .box {
    background-color: rgb(255 255 255 / 80%);
    border-radius: 10px;
    padding: 40px;
  }

  #testimonials .title-page {
    text-align: center;
    margin-bottom: 31px;
  }

  #testimonials .btn {
    margin: 30px auto;
  }

  #testimonials .img-holder {
    /* display: none; */
    margin-top: -268px;
  }

  #vision .vision-con {
    top: 62%;
  }
}


/*1200*/
@media screen and (max-width: 1410px) {
  #header .h-content {
    flex-direction: column-reverse;
  }

  #header .contact-info {
    margin-bottom: 12px;
  }

}

@media screen and (max-width: 1328px) {}

@media screen and (max-width: 1327px) {


  #banner .content-holder .row {
    text-align: center;
  }

  #banner .title-like {
    width: 100%;
    margin: auto;
  }

  #vision .container {
    min-height: 0;
  }

  #vision .vision-con {
    position: relative;
    margin-top: -50px;
  }

  #vision .box {
    display: none;
  }

  #gallery {
    margin-top: 0;
  }

  #footer .row {
    flex-direction: column-reverse;
    align-content: center;
  }

  #footer .left {
    text-align: center;
  }

  #footer .left .img-holder img {
    margin: auto;
  }

}


@media screen and (max-width: 1200px) {
  body {
    min-width: 320px
  }

  #yt-vid {
    margin-top: -188px;
  }

  #yt-vid iframe {
    height: 637px;
  }


}

/*1024*/
@media screen and (max-width: 1130px) {}

/*960*/
@media screen and (max-width: 1023px) {
  #yt-vid {
    margin-top: -155px;
  }

  #yt-vid iframe {
    height: 582px;
  }
}

/*768*/
@media screen and (max-width: 959px) {

  h1,
  h2 {
    font-size: 35px;
  }

  p,
  ul,
  nav ul li a,
  .remarks {
    font-size: 14px;
  }

  .title-page {
    font-size: 17px;
  }

  .row {
    padding: 0 20px;
  }

  #yt-vid iframe {
    height: 438px;
  }


}


/*425*/
@media screen and (max-width: 767px) {

  #header .info .phone,
  #header .info .email {
    font-size: 18px;
  }

  #yt-vid {
    margin-top: -120px;
  }
}

@media screen and (max-width: 694px) {
  #banner .content-holder {
    top: -8%;
  }
}

@media screen and (max-width: 578px) {


  #yt-vid {
    margin-top: 0;
  }

  #yt-vid iframe {
    height: 333px;
  }

}

@media screen and (max-width: 482px) {
  #banner .content-holder {
    top: -25%;
  }
}

/*375*/
@media screen and (max-width: 425px) {
  #header .h-logo img {
    margin-top: 0;
    max-width: 196px;
  }

  #header .contact-info {
    margin-top: 8px;
    gap: 9px;
  }

  #banner .foreword {
    font-size: 13px;
  }

  #banner .title-like {
    font-size: 34px;
  }

  #yt-vid iframe {
    height: 281px;
  }

  #services .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #testimonials .box {
    padding: 0;
  }

  #testimonials .tes-content {
    padding-bottom: 50px;
  }

  #vision .content {
    padding: 50px 0;
  }

  #footer .left .img-holder img {
    max-width: 263px;
  }

}

/*320*/
@media screen and (max-width: 374px) {
  #banner .content-holder {
    top: -40%;
  }
}